.container.books_index
  .row 
    %header.box_theme#page_title
      %h1 Our books
  .row 
    %aside.span4.box_theme#subtitle
      %p
        = link_to "Browse alphabetically instead.", alphabetical_webs_path
      %p
        = link_to "Browse by author instead.", author_index_webs_path
      %p
        = link_to "Look at our official catalogue.", catalogue_webs_path
      = form_tag webs_path, method: :get do
        %p
          = text_field_tag :query, params[:query]
          = submit_tag "Search", name: nil, :class => 'btn-success-narrow'  
      - @feature_root.each do |cat_name, array_of_books|  
        %p
          = link_to(cat_name  ,:controller=>"webs"  , :action=>:single_cat , :cat => cat_name )
          
    %section.span8    
      .article.box_theme
        = render :partial => "feature", :locals => { :features => @features }
      





