- company = current_company()
.container
  .row
    %header.box_theme#page_title
      %h1= @web.book.title
  .row
    %aside.span4.box_theme#subtitle
      %ul
        .ai
          %p.narrow
            %strong Title:
            = @web.book.prefix
            = @web.book.title
          %p.narrow
            %strong Author:
            = @web.book.work.contacts.first.try(:names_before_key)
            = @web.book.work.contacts.first.try(:keynames)
          %p.narrow
            %strong ISBN 13:
            = @web.book.isbn
          %p.narrow
            %strong Price:
            = current_company_curr
            = price = @web.book.default_price_amount
          %p.narrow
            %strong Pub date:
            = @web.book.pub_date.blank? ? "-" : @web.book.pub_date.strftime("%d %B '%y")
          %p.narrow
            %strong Availability:
            = Supplydetail.description(@web.book)
          %p.narrow
            %strong Category:
            = @web.book.work.main_subject.blank? ? "-" : @web.book.work.main_subject
          %p.narrow
            %strong Format:
            = @web.book.translated_format
          %p
            Buy or preorder now from
            %a{ :href => amazon_url_helper(@web.book, company) } Amazon.co.uk
            or direct from us using secure Paypal.
            = render :partial => "paypal", :locals => { :price => price, :book => @web.book, :company => current_company(), :region => :uk }
            = render :partial => "paypal", :locals => { :price => price, :book => @web.book, :company => current_company(), :region => :foreign }
          %h2 Related titles
          .row
            - @relateds.each do |related|
              = link_to related[:web] do
                .span2
                  = image_tag related[:cover], {:alt => related[:book_number], :class => "product_image", :size => related[:cover_size]}
                .span2
                  = related["Format"]

    %section.span8
      .article.box_theme

        = image_tag @cover, {:alt => "cover image", :class => "big_cover"}
        %h3
          About
          = @web.book.prefix
          = @web.book.title
        %p
          != raw  strip_tags(Marketingtext.get_text(@web.book, :blurb))
        = render :partial => "contributor", :collection => get_contributor_details(@web.book)
        %h3 Reviews
        %p
          != raw Marketingtext.get_text(@web.book, :reviews)
